.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobId {
  font-size: 0.875rem;
  color: var(--gray-subtle);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions > button:first-child {
  margin-right: auto;
}
