.apply {
  padding: 0.6rem 1rem;
  border-radius: 4px;
  background-color: var(--purple);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.2s ease-in-out;
}

.apply:hover {
  background-color: var(--purple-2nd);
}
