.wrapper {
  position: relative;
}

.input {
  width: 100%;
  height: 4rem;
  font-size: 1.125rem;
  border: none;
  padding: var(--input-y-padding) var(--input-x-padding);
  outline: none;
}

.input:focus {
  background-color: var(--purple-3rd);
}

.autoComplete {
  position: absolute;
  top: calc(100% - 3px);
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 12px;
}

.autoComplete button {
  background-color: transparent;
  border: none;
  padding: 0.8rem 1rem;
  width: 100%;
  text-align: left;
}

.autoComplete button:hover {
  background-color: var(--purple-3rd);
  color: var(--purple);
}
