.card {
  max-width: 550px;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 4rem 1rem;
}

.card h1 {
  font-size: 2rem;
  margin: 0 0 2rem;
  text-align: center;
}
