.overlay {
  z-index: 1;
}

.overlay .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 1px solid #fff;
  border-right: 1px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader.withText {
  width: 20px;
  height: 20px;
}

.loader.dark {
  border-color: black;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
