.jobsList {
  flex: 1 1 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  /* transition: 300ms; */
}

.shrink {
  grid-template-columns: repeat(2, 1fr);
  flex-basis: 50%;
}

.resultsCount {
  margin: 1rem 0 2rem;
  font-size: 0.875rem;
  color: #686868;
}
