@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --input-fz: 1.025rem;
  --input-x-padding: 0.7rem;
  --input-y-padding: 0.5rem;
  --searchBtnWidth: 54px;
  --unverified-strip-height: 40px;
  --topbar-height: 90px;
  --navigation-height: 53px;
  --header-height: calc(var(--topbar-height) + var(--navigation-height));
  --unverified-header-height: calc(
    var(--header-height) + var(--unverified-strip-height)
  );
  --purple: hsl(254, 76%, 53%);
  --purple-2nd: hsl(254, 76%, 65%);
  --purple-3rd: hsl(254, 76%, 95%);
  --purple-disabled: hsl(254 76% 80%);
  --orange: hsl(20, 83%, 54%);
  --orange-disabled: hsl(20, 83%, 64%);
  --gray-subtle: hsl(0, 0%, 65%);
  --primary-main: hsl(254, 76%, 53%);
  --primary-hover: hsl(254, 76%, 65%);
  --success-main: hsl(124 55% 45%);
  --success-hover: hsl(124 55% 57%);
  --danger-main: hsl(0, 55%, 45%);
  --danger-hover: hsl(0 55% 57%);
  --secondary-main: hsl(0 0% 55%);
  --secondary-hover: hsl(0 0% 67%);
}

* {
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: initial;
}

ul {
  list-style-type: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input,
textarea {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: none;
}

input {
  font-size: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.css-b62m3t-container {
  font-size: 1rem;
}

.css-1dimb5e-singleValue {
  font-size: var(--input-fz);
}

.css-qbdosj-Input,
.css-1dimb5e-singleValue,
.css-qbdosj-Input {
  margin: 0 !important;
  padding: 0;
}

/* Select Value */
.css-1fdsijx-ValueContainer {
  padding: 0 var(--input-x-padding) !important;
}

/* Select Options */
.css-10wo9uf-option,
.css-tr4s17-option {
  padding: 0.5rem 1rem !important;
}

.css-13cymwt-control,
.css-t3ipsp-control {
  height: 100%;
}
